[submodule "vendor/builder-scaffold"]
	path = vendor/builder-scaffold
	url = https://github.com/evefrontier/builder-scaffold
[submodule "vendor/world-contracts"]
	path = vendor/world-contracts
	url = https://github.com/evefrontier/world-contracts
[submodule "vendor/evevault"]
	path = vendor/evevault
	url = https://github.com/evefrontier/evevault
[submodule "vendor/eve-frontier-proximity-zk-poc"]
	path = vendor/eve-frontier-proximity-zk-poc
	url = https://github.com/evefrontier/eve-frontier-proximity-zk-poc
